%message {
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}
.one {
  @extend %message;
  background-color: #ccffcc;
  font-size: 18px;
}
.two {
  @extend %message;
  background-color: #99ff99;
  font-size: 20px;
}
.three {
  @extend %message;
  background-color: #66ff66;
  font-size: 22px;
}
